/*
  This stylesheet defines styling for elements
  created by the Book module.
*/

// I. Global Variables

$book_max_page_width: 940px;
$book_page_header_height: 340px;

// II. Elements

.book_book.template_page {
  margin:    0px auto;
  max-width: $book_max_page_width;

  #page_header {
    background-image:  url("modules/book/images/banner.jpg");
    background-repeat: no-repeat;
    background-size:   cover;
    height:            $book_page_header_height;

    #page_header_content {
      @include transform(translateY(-50%));
      position: relative;
      top:      50%;

      #page_header_title {
        margin:     0px auto;
        text-align: center;
        width:      80%;

        span {
          background-color: rgba(0,0,0,0.7);
          box-shadow:       20px 0 0 #000, -20px 0 0 #000;
          color:            white;
          font-size:        55px;
          line-height:      68px;
        }
      }

      #page_header_tagline {
        margin:      0px auto;
        text-align:  center;
        width:       90%;

        span {
          background-color: rgba(0,0,0,0.7);
          box-shadow:       20px 0 0 #000, -20px 0 0 #000;
          color:            white;
          font-size:        27px;
          line-height:      39px;
        }
      }
    }
  }

  #page_body {
    margin: $default_small_margin;
  }
}
