/*
  This stylesheet defines the styling for the
  Case Study feature.
*/

.case_study {
  margin-top: $default_small_margin;
  border:     solid 1px #979797;

  .case_study_content_section {
    font-family: OpenSans-Semibold;

    .case_study_content_section_header {
      margin: $default_small_margin auto 0px;
      width:  80%;

      h1, h2, h3, h4, h5 {
        color:       #309DD2;
        text-align:  center;
      }
    }

    .case_study_content_section_body {
      .case_study_content_section_body_lead_section {
        margin: $default_small_margin auto 0px;
        width:  90%;
      }

      .case_study_content_section_body_links_section {
        margin: $default_small_margin auto 0px;
        width: 80%;

        .case_study_content_section_body_links_section_column {
          display: inline-block;
          width:   49%;

          .case_study_content_section_body_links_section_list_item_link {
            color: #309DD2;

            a {
              color: #309DD2;
            }
          }
        }
      }
    }

    .case_study_content_section_footer {
      margin:     $default_small_margin auto 0px;
      text-align: center;

      .case_study_content_section_footer_link_button {
        background-color: #309DD2;
        color:            white;
        display:          inline-block; 
        padding:          5px 10px 5px 10px;
      }
    }
  }

  .case_study_screenshot_section {
    margin: $default_small_margin auto 0px;
    width:  90%;

    img.case_study_screenshot_section_image {
      width: 100%;
    }
  }
}
