<div id="main_content">
  <div id="header_padding"/>
  <div id="body">
    <div id="video_content">
      <div class="video_library_header">
        <h2>Now Playing: <span class="video_library_title_block">
          <span class="video_library_player_id">video</span>
	  <span class="video_library_library_id"><span class='core_id_block'/></span>
        </span></h2>
      </div>
      <div class="video_library_player_block">
        <div class="video_library_player_id">video</div>
        <div class="video_library_default_video_id"><span class='core_id_block'/></div>
      </div>
      <div class="video_library">
        <div class="video_library_tabs">
          <a class="core_link_block" href="#video_library_video_page/eoffer"><div class="video_library_tabs_tab">eOffer</div></a>
          <a class="core_link_block" href="#video_library_video_page/emod"><div class="video_library_tabs_tab">eMod</div></a>
          <a class="core_link_block" href="#video_library_video_page/helpful-hints"><div class="video_library_tabs_tab">Helpful Hints</div></a>
        </div>
        <div class="video_library_left">
          <div class="video_library_left_header">
            <div class='search_link_block'>search/video_search//0/20</div>
            <a class="video_library_expand_tab" onclick="$('.video_library_collection').addClass ('video_library_expanded').children ('ol').slideDown ();">Expand all</a>
            <a class="video_library_collapse_tab" onclick="$('.video_library_expanded').removeClass ('video_library_expanded').children ('ol').slideUp ();">Collapse all</a>
          </div>
          <div class="video_library_left_body">
            <div class="video_library_menu_block">
              <div class="video_library_player_id">video</div>
              <div class="video_library_library_id"><span class='core_id_block'/></div>
            </div>
          </div>
        </div>
        <div class="video_library_right">
          <div class="video_library_right_header">
            <div class="video_library_transcript_tab" onclick="$('.video_library_transcript_tab').addClass ('video_library_selected'); $('.video_library_description_tab').removeClass ('video_library_selected'); $('.video_library_video_description').hide (); $('.video_library_transcript').show ();">Transcript</div>
            <div class="video_library_description_tab video_library_selected" onclick="$('.video_library_transcript_tab').removeClass ('video_library_selected'); $('.video_library_description_tab').addClass ('video_library_selected'); $('.video_library_video_description').show (); $('.video_library_transcript').hide ();">Chapter Details</div>
          </div>
          <div class="video_library_right_body">
            <div class="video_library_description_block">
              <div class="video_library_player_id">video</div>
              <div class="video_library_library_id"><span class='core_id_block'/></div>
            </div>
            <div class="video_library_transcript_block">
              <div class="video_library_player_id">video</div>
              <div class="video_library_library_id"><span class='core_id_block'/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
