<div>
  <div id="page_header">
    <div id="page_header_content">
      <div id="page_header_title">
        <span>Website Development Portfolio</span>
      </div>
      <div id="page_header_tagline">
        <span>A hands-on look at our recent web development projects</span>
      </div>
    </div>
  </div>
  <div id="page_body">
    <!-- The Lucidity Demo site -->
    <div class="case_study">
      <div class="case_study_section case_study_content_section">
        <div class="case_study_content_section_header">
          <h2>Providing massive support for contracting officers with minimal infrastructure</h2>
        </div>
        <div class="case_study_content_section_body">
          <div class="case_study_content_section_body_lead_section">
            <p>GSA's office of Acquisition Management needed to deliver its user guides, training videos, and interactive training online, all without the benefit of a back-end.</p>
          </div>
          <div class="case_study_content_section_body_links_section">
            <div class="case_study_content_section_body_links_section_column case_study_content_section_body_links_section_left_column">
              <ul class="case_study_content_section_body_links_section_list case_study_content_section_body_links_section_left_column_list">
                <li class="case_study_content_section_body_links_section_list_item case_study_content_section_body_links_section_left_column_list_item">
                  <span class="case_study_content_section_body_links_section_list_item_label">Video library </span>
                  <span class="case_study_content_section_body_links_section_list_item_link"><a href="">(View video library)</a></span>
                </li>
                <li class="case_study_content_section_body_links_section_list_item case_study_content_section_body_links_section_left_column_list_item">
                  <span class="case_study_content_section_body_links_section_list_item_label">Robust search </span>
                  <span class="case_study_content_section_body_links_section_list_item_link"><a href="">(View search)</a></span>
                </li>
              </ul>
            </div>
            <div class="case_study_content_section_body_links_section_column case_study_content_section_body_links_section_right_column">
              <ul class="case_study_content_section_body_links_section_list case_study_content_section_body_links_section_right_column_list">
                <li class="case_study_content_section_body_links_section_list_item case_study_content_section_body_links_section_right_column_list_item">
                  <span class="case_study_content_section_body_links_section_list_item_label">Interactive training </span>
                  <span class="case_study_content_section_body_links_section_list_item_link"><a href="">(View interactive training)</a></span>
                </li>
                <li class="case_study_content_section_body_links_section_list_item case_study_content_section_body_links_section_right_column_list_item">
                  <span class="case_study_content_section_body_links_section_list_item_label">Intuitive navigation </span>
                  <span class="case_study_content_section_body_links_section_list_item_link"><a href="">(View navigation)</a></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="case_study_content_section_footer">
          <div class="case_study_content_section_footer_link_button">EXPLORE THE HELP CENTER PROJECT  &gt;</div>
        </div>
      </div>
      <div class="case_study_section case_study_screenshot_section">
        <a href="images/amss-mockup.png" data-lightbox="amss-mockup" data-title="AMSS Mockup">
          <img class="case_study_screenshot_section_image" src="images/amss-mockup.png"/>
        </a>
      </div>
    </div>
    <!-- The Internal Release Notes case study -->
    <div class="case_study">
      <div class="case_study_section case_study_content_section">
        <div class="case_study_content_section_header">
          <h2>Bringing clarity to release notes for acquisition system updates</h2>
        </div>
        <div class="case_study_content_section_body">
          <div class="case_study_content_section_body_lead_section">
            <p>Elucid is the voice for release notes for GSA's Office of Acquisition Management, delivering a clear message about relevant changes, letting users choose their own level of detail.</p>
          </div>
          <div class="case_study_content_section_body_links_section">
            <div class="case_study_content_section_body_links_section_column case_study_content_section_body_links_section_left_column">
              <ul class="case_study_content_section_body_links_section_list case_study_content_section_body_links_section_left_column_list">
                <li class="case_study_content_section_body_links_section_list_item case_study_content_section_body_links_section_left_column_list_item">
                  <span class="case_study_content_section_body_links_section_list_item_label">Intuitive highlights </span>
                  <span class="case_study_content_section_body_links_section_list_item_link"><a href="">(View highlights)</a></span>
                </li>
              </ul>
            </div>
            <div class="case_study_content_section_body_links_section_column case_study_content_section_body_links_section_right_column">
              <ul class="case_study_content_section_body_links_section_list case_study_content_section_body_links_section_right_column_list">
                <li class="case_study_content_section_body_links_section_list_item case_study_content_section_body_links_section_right_column_list_item">
                  <span class="case_study_content_section_body_links_section_list_item_label">Precise search </span>
                  <span class="case_study_content_section_body_links_section_list_item_link"><a href="">(View search)</a></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="case_study_content_section_footer">
          <div class="case_study_content_section_footer_link_button">EXPLORE THE RELEASE NOTES PROJECT  &gt;</div>
        </div>
      </div>
      <div class="case_study_section case_study_screenshot_section">
        <img class="case_study_screenshot_section_image" src="images/release-notes-mockup.png"/>
      </div>
    </div>
    <!-- The Abandoned Mine Lands Site case study -->
    <div class="case_study">
      <div class="case_study_section case_study_content_section">
        <div class="case_study_content_section_header">
          <h2>Serving users with the information they want about abandoned mines</h2>
        </div>
        <div class="case_study_content_section_body">
          <div class="case_study_content_section_body_lead_section">
            <p>BLM tasked Elucid with modernizing their Abandoned Mine Lands site leveraging the best modern UX practices and responsive web principles.</p>
          </div>
        </div>
        <div class="case_study_content_section_footer">
          <div class="case_study_content_section_footer_link_button">EXPLORE THE ABANDONED MINES DEVELOPMENT SITE  &gt;</div>
        </div>
      </div>
      <div class="case_study_section case_study_screenshot_section">
        <img class="case_study_screenshot_section_image" src="images/blm-mockup.png"/>
      </div>
    </div>
    <!-- The ACHP case study -->
    <div class="case_study">
      <div class="case_study_section case_study_content_section">
        <div class="case_study_content_section_header">
          <h2>Developing a user-centered web presence for Federal preservation</h2>
        </div>
        <div class="case_study_content_section_body">
          <div class="case_study_content_section_body_lead_section">
            <p></p>
          </div>
        </div>
        <div class="case_study_content_section_footer">
          <div class="case_study_content_section_footer_link_button">EXPLORE THE ADVISORY COUNCIL ON HISTORIC PRESERVATION DEVELOPMENT SITE  &gt;</div>
        </div>
      </div>
      <div class="case_study_section case_study_screenshot_section">
        <img class="case_study_screenshot_section_image" src="images/achp-mockup.png"/>
      </div>
    </div>
  </div>
</div>
